<!-- eslint-disable -->
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="http://localhost:5000/assets/favicon.ico"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>React starter kit - SSR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
        window.initialData = <%- `${JSON.stringify(initialData)}` -%>
    </script>
</head>
<body>
    <div id='root'><%- initialMarkup -%></div>
    <script src="/vendors~app.js?version=1" charset="utf-8"></script>
    <script src="/app.js?version=1" charset="utf-8"></script>
</body>
</html>
<!-- eslint-disable -->
